.card {
    .img-thumbnail {
        margin: 1.2rem;
        width: 85%;
        height: 85%;
        align-self: center;
    }

    .card-body {
        padding: 0 1.2rem;    
    }

    .card-footer {
        padding: 0.6rem 0.9rem;
        background-color: #ffffff;
        border-top: none;
    }
}